body{
    background-color: #000;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}
#prog{
    width: 100%;
}
#time{
    font-size: 10em;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#button-to-fullscreen, #button-fullscreen-exit{
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #333;
    z-index: 1;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
}
#button-to-fullscreen, #decsription, footer{
    display: none;
}
#title{
    text-align: center;
}
a:visited{
    color: #fff;
}