@font-face {
    font-family: 'Eurostile Round';
    src: local('Eurostile Round Medium'), local('EurostileRound-Medium'), url('https://dan63.by/static/EurostileRound-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Eurostile Round Extended';
    src: local('Eurostile Round Extended Regular'), local('EurostileRoundExtended-Regular'), url('https://dan63.by/static/EurostileRoundExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eurostile Round Extended';
    src: local('Eurostile Round Extended Black'), local('EurostileRoundExtended-Black'), url('https://dan63.by/static/EurostileRoundExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Eurostile Round';
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 8px;
}
#prog{
    width: 100%;
}
#title_ru, #title_en{
    position: fixed;
    text-align: center;
    top: 0;
    width: calc(100% - 16px);
    font-family: 'Eurostile Round Extended';
    font-weight: 900;
    font-style: normal;
}
#time{
    font-size: 10vw;
    width: calc(100% - 16px);
    height: 100%;
    font-family: 'Eurostile Round Extended';
    font-weight: 900;
    font-style: normal;
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    overflow: auto;
    cursor: pointer;
    text-shadow: 0px 0px 4px #fff4, 0px 0px 10px #fff5, 0px 0px 20px #fff4, 0px 0px 100px #fff4;
}
#time-left-msec{
    font-size: 2vw;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#bar{
    position: fixed;
    bottom: 0;
    width: calc(100% - 16px);
}
#button-to-fullscreen, #button-fullscreen-exit{
    transition: 500ms;
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #333;
    z-index: 1;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
}
#button-to-fullscreen, #description_ru, #description_en, footer, #language-selector, #other_countdowns{
    display: none;
}
#title{
    text-align: center;
}