@font-face{
    font-family: '7Digital';
    src: url('Orloj.otf');
    font-weight: normal;
    font-style: monospace;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 8px;
}
#prog{
    width: 100%;
}
#title_ru, #title_en{
    position: fixed;
    text-align: center;
    top: 0;
    width: calc(100% - 16px);
}
#time{
    font-size: 12em;
    width: calc(100% - 16px);
    height: 100%;
    font-family: '7Digital';
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    overflow: auto;
    cursor: pointer;
}
#time-left-msec{
    font-size: 4rem;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#bar{
    position: fixed;
    bottom: 0;
    width: calc(100% - 16px);
}
#button-to-fullscreen, #button-fullscreen-exit{
    transition: 500ms;
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #333;
    z-index: 1;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
}
#button-to-fullscreen, #description_ru, #description_en, footer, #language-selector, #other_countdowns{
    display: none;
}
#title{
    text-align: center;
}