@font-face{
    font-family: '7Digital';
    src: url('Orloj.otf');
    font-weight: normal;
    font-style: monospace;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}
#prog{
    width: 100%;
}
#time{
    text-align: center;
    font-size: 10em;
    font-family: '7Digital';
    cursor: pointer;
}
#time-left-msec{
    font-size: 2rem;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#button-to-fullscreen, #button-fullscreen-exit{
    transition: 500ms;
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #333;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
}
#button-fullscreen-exit, #title_en, #description_en{
    display: none;
}
#title_ru, #title_en{
    text-align: center;
}
a{
    transition: 500ms;
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
a:visited{
    color: #999;
}
a:visited:hover{
    color: #fff;
}
#language-selector{
    position: absolute;
    right: 25px;
    top: 35px;
    
    color: #333;
}
#lang-name, #rus{
    padding-right: 7px;
}
#rus, #eng{
    transition: 500ms;
}
#rus:hover, #eng:hover{
    cursor: pointer;
    color: #fff;
}