@font-face {
    font-family: 'Eurostile Round';
    src: local('Eurostile Round Medium'), local('EurostileRound-Medium'), url('https://dan63.by/static/EurostileRound-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Eurostile Round Extended';
    src: local('Eurostile Round Extended Regular'), local('EurostileRoundExtended-Regular'), url('https://dan63.by/static/EurostileRoundExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eurostile Round Extended';
    src: local('Eurostile Round Extended Black'), local('EurostileRoundExtended-Black'), url('https://dan63.by/static/EurostileRoundExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Eurostile Round';
    font-weight: 500;
    font-style: normal;
}
#prog{
    width: 100%;
}
#time{
    text-align: center;
    font-size: 10vw;
    font-family: 'Eurostile Round Extended';
    font-weight: 900;
    font-style: normal;
    cursor: pointer;
    text-shadow: 0px 0px 4px #fff4, 0px 0px 10px #fff5, 0px 0px 20px #fff4, 0px 0px 100px #fff4;
}
#time-left-msec{
    font-size: 2vw;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#button-to-fullscreen, #button-fullscreen-exit{
    transition: 100ms ease-out;
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #666;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 8px white);
}
#button-fullscreen-exit, #title_en, #description_en{
    display: none;
}
#title_ru, #title_en{
    text-align: center;
    font-family: 'Eurostile Round Extended';
    font-weight: 900;
    font-style: normal;
}
h3{
    font-family: 'Eurostile Round Extended';
    font-weight: 900;
    font-style: normal;
}
a{
    transition: 500ms;
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
a:visited{
    color: #999;
}
a:visited:hover{
    color: #fff;
}
#language-selector{
    position: absolute;
    right: 25px;
    top: 35px;
    
    color: #666;
}
#lang-name, #rus{
    padding-right: 7px;
}
#rus, #eng{
    transition: 100ms ease-out;
}
#rus:hover, #eng:hover{
    cursor: pointer;
    color: #fff;
    text-shadow: 0px 0px 4px #fff4, 0px 0px 10px #fff5, 0px 0px 20px #fff4, 0px 0px 100px #fff4;
}