@font-face{
    font-family: '7Digital';
    src: url('digital-7\ \(mono\).ttf');
    font-weight: normal;
    font-style: monospace;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}
#prog{
    width: 100%;
}
#time{
    text-align: center;
    font-size: 10em;
    font-family: '7Digital';
    cursor: pointer;
}
#time-left-msec{
    font-size: 2rem;
}
#time-left-readable{
    text-align: center;
    cursor: pointer;
}
#button-to-fullscreen, #button-fullscreen-exit{
    position: absolute;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #333;
}
#button-to-fullscreen:hover, #button-fullscreen-exit:hover{
    color: #fff;
}
#button-fullscreen-exit{
    display: none;
}
#title{
    text-align: center;
}
a:visited{
    color: #fff;
}